aiohttp==3.7.4.post0
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.4.0
chardet==4.0.0
colorama==0.4.5
discord.py==1.7.3
funcparserlib==1.0.0
hy==1.0a4
idna==3.3
multidict==6.0.2
rply==0.7.8
typing_extensions==4.2.0
yarl==1.7.2
